*{
    padding: 0;
    margin: 0;
}
article{
    background-color: rgb(199, 247, 247);
}
nav{
    background-color: rgb(56,55,55);
}
.card.targeta{
    background-color: rgb(199, 247, 247);
    border: none;
    width: 90%;

}

    
footer{
    background-color:#007bff ;
    height: 165px;
    
}
/* nosotros */
img{
    width: 100%;
}
